[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["standard"], version = "*"}
uvicorn = "*"
pydantic-settings = "*"
sqlmodel = "*"
asyncpg = "*"
flake8 = "*"
flake8-pyproject = "*"
greenlet = "*"
coloredlogs = "*"
nanoid = "*"
random-username = "*"
svix = "*"
alembic = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.13"
python_full_version = "3.13.0"
